{% load reset_pin %}
<!DOCTYPE html>
<html lang="en">

<body>
    <p>Your <i>Qwerty</i> account has been created for you. You can access your account using the given credentials</p>

    <div>
        Email: <b>{{ email }}</b>
        Password: <b>{{ password }}</b>

        <br>

        ( Its our advise that you change this password as soon as possible. )
    </div>

    <p>
        There is one more thing for you to do, before you can start using your ID card for purchases.
        <b>You need to set up a pin for your ID card, use the below mentioned link to do so.</b>
    </p>

    <a href="{% get_reset_pin_endpoint %}">Set up your pin</a>
</body>

</html>