{% extends 'student/base.html' %}
{% load static %}

{% block title %}Expense Tracker{% endblock %}
{% block links %}
    <link href="{% static "stylesheets/tracker.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block expense %}active{% endblock %}

{% block content %}
    <h1>Expense Tracker</h1>
    <hr>
    <div class="mt-5">
        <div id="svg-wrapper">
            <div class="d-flex justify-content-end">
                <select id="options" class="mx-3">

                </select>
            </div>

            <div id="chart">

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{% static 'js/student/expense-tracker.js' %}"></script>
    <script src="{% static 'js/student/tracker.js' %}"></script>
{% endblock %}
