{% extends 'student/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block profile %}active{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mt-3 bg-dark shadow-sm">
                <form action="{% url "student:profile" %}" method="POST" class="px-3 py-4">
                    {% csrf_token %}
                    <div class="personal-info">
                        <h3 class="text-light py-2">Personal Info</h3>
                        {% for field in user_form %}
                            <div class="my-3">
                                 {{ field | as_crispy_field }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="student-info">
                        <h3 class="text-light py-2">Student Info</h3>
                        {% for field in student_form %}
                            <div class="my-3">
                                 {{ field | as_crispy_field }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-danger">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}