{% extends 'student/base.html' %}
{% load crispy_forms_tags %}

{% block  title %}Change Password{% endblock %}

{% block change_password %}active{% endblock %}

{% block content %}
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mt-3 bg-dark shadow-sm">
                <form action="{% url "change_password" %}" method="POST" class="px-3 py-4">
                    {% csrf_token %}
                    <h3 class="text-light py-2">Change Password</h3>
                    {% for field in password_change_form %}
                        <div class="my-3">
                             {{ field | as_crispy_field }}
                        </div>
                    {% endfor %}

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}