{% extends 'manager/base.html' %}
{% load  static %}

{% block title %}Canteen{% endblock %}
{% block canteen %}active{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2>Canteen</h2>
        <hr>
        {% include 'manager/product.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script
            src="{% static "js/manager/qr-code-scanner.js" %}"
    ></script>
    <script src="{% static "js/manager/qr-code.js" %}"></script>
    <script src="{% static "js/manager/canteen.js" %}"></script>
    <script src="{% static "js/manager/ajax-request.js" %}"></script>
{% endblock %}